<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="base_url" value="http://apilauncher.lifeware.cl"/>
		<add key="access_token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImEyYTMwODI4LTcwM2ItNGI3Mi05MGE5LTJmNDlkYmQ2YTY5NSIsIm5hbWUiOiJMaWZld2FyZUFwaVNlcnZpY2UiLCJpYXQiOjE1MTYyMzkwMjJ9.KP2h-ny7a_xO4PcrT3JE9pZqa2XMrTSQQf7kdUJknXo"/>
	</appSettings>
</configuration>
